---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
import Logo from "./Logo.astro";
---

<header>
  <nav aria-label="Main navigation">
    <div class="nav-container">
      <Logo/>
      <Hamburger />
      <Navigation />
    </div>
  </nav>
</header>

