---
import Workitem from '../components/Workitem.astro';

const allCaseStudies = Object.values(import.meta.glob('../pages/case-study/*.mdx', { eager: true }));
const allProjects = Object.values(import.meta.glob('../pages/projects/*.mdx', { eager: true }));



---

<div class="nav-links">
  <a href="/#case-studies">Case Studies</a>
    <a href="/#projects">Projects</a>



</div>