---
import { tools } from '../data/tools.js';
---

<div class="nav-links">
  <a href="/#case-studies">Case Studies</a>
  <a href="/#projects">Projects</a>
  {tools.length > 0 && <a href="/#tools">Tools</a>}
</div>