
---
const { title, url } = Astro.props;

---
              
               <li >
                <a  class="footer-link-item" href={url}>
        
                    {title}
                
                    </a>
                </li>
                   

    
